.center{
    margin-top: 150px;
    text-align: center;
}
h3{
    color: #043b5d;
    display: inline;
}
.content ul{
    display: inline-block;
    text-align: left;
    list-style: none;
    font-size: 30px;
}


