/*main content*/
#page-content-wrapper {
    width: 100%;
    postion: absolute;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 0px;

}
h1{
    color: dimgrey;
    font-family: Calibri;
    font-size: 45px;
}
.center{
    margin-top: 150px;
    text-align: center;
}
h3{
    color: #043b5d;
    display: inline;
}
.content ul{
    display: inline-block;
    text-align: left;
    list-style: none;
    font-size: 30px;
}

/*side bar*/
#sidebar-wrapper {
    position: absolute;
    width: 95px;
    height: 100%;
    background: #000;

}

.sidebar-nav {
    padding: 0px;
    list-style: none
}

.sidebar-nav li {
    text-indents: 60px;
    line-height: 80px;
    text-decoration: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ddd;
}

p {
    line-height: 2px;
}

.sidebar-nav logOut a {
    position: absolute;
    text-align: center;
    text-decoration: none;
    bottom: 17px;
    color: #ddd;
    padding-left: 7px;
}