/*main content*/
h2{
    color: black;
    font-family: "Copperplate Gothic Light";
    font-size: 50px;
    text-align: center;
    margin-left: 20%;
    display: inline;
}

h3 {
    font-family: "Copperplate Gothic Bold";
    color: #010416;
    font-size: 30px;
}

h4 {
    color: white;
    font-size: 20px;
}

h5 {
    font-family: Calibri;
    font-size: 40px;
    /*color: white;*/

    /*color: white;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*margin-left: 20%;*/
    /*display: inline;*/
}

h6{
    font-family: Calibri;
    font-size: 30px;
}
.print{
    display: inline;
    padding-right: 40px;
    color: #861616;
    font-family: Calibri, serif;
    font-size: 30px;
    padding-top: 60px;
    vertical-align: -18px;

}
.form-group-row .btn-warning{
    margin-top: 17px;
}
.form-group-row {
    float: right;
    padding-top: 10px;
}

.col-xs-2 {
    vertical-align: bottom;
}

.table {
    text-align: center;
}

th {
    position: sticky;
    top: 75px;
}

.lines {
    border: 30px;
}

/*Bootstrap Addition*/

.container{
    background-color: white;
    max-width: 100%;
    margin: 10px;
}

.course-container{
    border-radius: 50px;
    background-color: floralwhite;
    max-width: 60%;
    padding-right: 35px;
    padding-bottom: 25px;
    margin: auto;
}

.btn{
    min-height:40px;
    min-width:60px;
    margin:5px;
    font-size: 20px;
}

.assign-btn{
    /*min-width:20px;*/
    /*font-size: 16px;*/
    margin-bottom: 1px;

}

.header-row{
    background-color: black;
}