.row{
    background-color: #ffbd00;

}
body{
    background: #ffbd00;
}
/*.row img {*/
/*    width: 10vh;*/
/*}*/

.row li{
    list-style: none;
}
.navbar{
    background-color: black;
    /*padding-top: 2vh;*/
}
.row2{

}
.row3{
    /*padding-top: 100px;*/
    /*padding-bottom: 10px;*/
}
.row4{
    background-color: black;
    height: 3px;
    margin-top: -80px;
}
footer{
    background-color: #ffbd00;
    height: 100px;
}
