.row img {
    margin-top: 130px;
}
.legend{
    font-family: Calibri;
}
label {
    margin-top: 12px;
    font-family: Calibri;
}

input {
    margin-left: 8px;
    background: transparent;
    border: 3px none;
    border-bottom: 1px solid #000000;
}
.btn{
    margin-top: 15px;

}
.message{
    padding-top: 5px;
    color: darkred;
    font-family: Calibri;
    font-size: 26px;
}



