
/*main content*/
#page-content-wrapper {
  width: 100%;
  postion: absolute;
  padding: 150px;

}
/*side bar*/
#sidebar-wrapper{
  position: absolute;
  width:95px;
  height: 100%;
  background: #000000;

}
.sidebar-nav{
  padding:0px;
  list-style: none
}

.sidebar-nav li{
  text-indents: 60px;
  line-height: 40px;
  text-decoration: none;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ddd;
}

.button {

    margin-top: 25px;
    position: relative;
	display: inline-block;
	background-color: green;
	background-image: linear-gradient(green,lightgreen);
    border-radius: 12px;

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 100;

}
.button1{
      margin-top: 25px;
      background-color: red;
      width: 7%;
      border-radius: 12px;
}

label {
    margin-top: 21px;
}

input{
    margin-left: 8px;
    border-width: 3px ;
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #000000;
}

.img1{
  margin-top: 10px;
  text-align: center;
}



.open_b{
  border-radius: 12px;
  width: 20%;
  font-size: 25px;
  background-color: gold;
}

.btn btn-outline-success my-2 my-sm-0{
    margin-top: 45px;
}