/*main content*/
#page-content-wrapper {
    width: 100%;
    postion: absolute;
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 0px;

}

h1 {
    color: dimgrey;
    font-family: Calibri, serif;
    font-size: 60px;
}
.row img{
    padding-top: 35px;
    margin-bottom: -30px;
}
.row h3{
    align-content: center;
    font-family: Calibri, serif;
    : 120px;
}
label {
    margin-top: 12px;
    font-family: Calibri;
}

input{
    margin-left: 8px;
    background: transparent;
    border: 3px none;
    border-bottom: 1px solid #000000;
}
.btn{
    margin-top: 15px;

}
.row strong{
     padding-top: 5px;
    color: darkred;
    font-family: Calibri;
    font-size: 26px;
}


/*side bar*/
#sidebar-wrapper {
    position: fixed;
    width: 110px;
    height: 100%;
    background: #000;

}

.sidebar-nav {
    padding: 0px;
    list-style: none
}

.sidebar-nav li {
    text-indents: 60px;
    line-height: 80px;
    text-decoration: none;
    font-size: 22px;
    font-family: Calibri;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ddd;
}

p {
    line-height: 2px;
}

.sidebar-nav logOut a {
    position: absolute;
    text-align: center;
    text-decoration: none;
    bottom: 25px;
    color: #ddd;
    font-size: 20px;
    padding-left: 4px;
}


