
.row img{
    padding-top: 35px;
    margin-bottom: -30px;
}
.row h3{
    align-content: center;
    font-family: Calibri, serif;
    : 120px;
}
label {
    margin-top: 12px;
    font-family: Calibri;
}

input{
    margin-left: 8px;
    background: transparent;
    border: 3px none;
    border-bottom: 1px solid #000000;
}

.btn{
    margin-top: 15px;

}
.row strong{
     padding-top: 5px;
    color: darkred;
    font-family: Calibri;
    font-size: 26px;
}




