{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/all_courses.css' %}">
{% endblock %}

{% block header %}
    <nav class="sticky">
        <h1>All Courses</h1>
        <form class="form-group-row" method="post">
            {% csrf_token %}
            {#                            <input class="col-xs-2" type="search" placeholder="Search" aria-label="Search">#}
            {#                            <button class="btn btn-warning  my-sm-0" type="submit">Search</button>#}
            <div class="print">
                {{ delete_message }}
            </div>
            <button class="btn btn-warning" type="submit" name="add_course" value="add_course">Add
                Course
            </button>
        </form>
    </nav>
{% endblock %}


{% block middle_section %}

    <form class="form" method="post">
        {% csrf_token %}

        <!-- container start -->
        {% for course, sections in dictionary.items %}
            <div class="container course-container shadow-lg border-0 mb-5">
                <div class="row course-row">
                    <div class="col" style="text-align:center">
                        <div style="float:left; width:80%">
                            <h2> {{ course.name }}</h2>
                        </div>
                        <div style="float:right">
                            <button type="submit" class="btn btn-danger" name="delete_course"
                                    value="{{ course.courseid }}"
                                    style="font-size:17px; margin-top:12px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row course-info">
                    <div class="col">
                        <h3>ID: {{ course.courseid }}</h3>
                    </div>
                    <div class="col">
                        <div style="text-align: center">
                            {% if course.Instructor == null %}
                                <button class="btn btn-warning assign-btn" type="submit" name="assign_instructor"
                                        value={{ course.courseid }}>
                                    Assign Instructor
                                </button>
                            {% else %}
                                <h3>Instructor: {{ course.Instructor.name }}
                                    <button type="submit" class="btn btn-danger"
                                            style="font-size:17px; margin-top:12px" name="rem_Ins" value={{ course.courseid }}>
                                        Remove
                                    </button>
                                </h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col" style="text-align:right">
                        <h3>Credits: {{ course.credits }}</h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h5><strong>TAs</strong></h5>
                    </div>
                </div>

                <table class="table">
                    <thead class="table table-dark table-info">
                    <tr>
                        <th><h5>Name</h5></th>
                        <th><h5>Skills</h5></th>
                        <th><h5>Grader</h5></th>
                        <th>
                            <div class="col">
                                <button class="btn btn-warning assign-btn" type="submit" name="assign_TA_to_course"
                                        value={{ course.courseid }}>Assign TA
                                </button>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for TA in TAs %}
                        {% if TA.course.courseid == course.courseid %}
                            <tr>
                                <td><h6>{{ TA.user.name }}</h6></td>
                                <td><h6>{{ TA.user.skills }}</h6></td>
                                <td><h6>{{ TA.graderstatus }}</h6></td>
                                <td>
                                    <button type="submit" class="btn btn-danger delete-course-btn" name="rem_TA"
                                            value="{{ TA.user.username }}"
                                            style="font-size:17px; margin-top:12px">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                    <div class="col">
                        <h5><strong>Sections</strong></h5>
                    </div>
                </div>

                <table class="table">
                    <thead class="table table-dark table-info">
                    <tr>
                        <th><h5>ID</h5></th>
                        <th><h5>Type</h5></th>
                        <th><h5>Schedule</h5></th>
                        <th><h5>Staff</h5></th>
                        <th>
                            <div class="col">
                                <button type="submit" class="btn btn-warning" name="register_section"
                                        value={{ course.courseid }} style="font-size=16px">Add Section
                                </button>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for section in sections %}

                            <td><h6>{{ section.sectionid }}</h6></td>

                            <td><h6>{{ section.type }}</h6></td>

                            <td><h6>{{ section.schedule }}</h6></td>

                            <td>
                                {% if section.TA_assigned == null %}
                                    <button class="btn btn-warning" type="submit" name="assign_TA_to_Section"
                                            value={{ section.sectionid }} style="font-size=16px">
                                        Assign
                                    </button>
                                {% else %}
                                    <h6>{{ section.TA_assigned.user.name }}
                                        <button type="submit" class="btn btn-danger" style="font-size:16px" name="rem_TA_sec" value={{ section.sectionid }}>
                                            Remove
                                        </button>
                                    </h6>
                                {% endif %}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger" style="font-size: 16px" name="del_section" value={{ section.sectionid }}>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>

                {#                <div class="container border border-secondary rounded">#}
                {#                    <div class="row header-row">#}
                {#                        <div class="col" style="text-align:center">#}
                {#                            <div style="float:left; width:80%">#}
                {#                                <h5>Staff</h5>#}
                {#                            </div>#}
                {#                            <div style="float:right">#}
                {#                                <button class="btn btn-warning assign-btn" type="submit" name="assign_TA_to_course"#}
                {#                                        value={{ course.courseid }}>#}
                {#                                    Assign TA#}
                {#                                </button>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="row header-row">#}
                {#                        <div class="col">#}
                {#                            <h4>Name</h4>#}
                {#                        </div>#}
                {#                        <div class="col">#}
                {#                            <h4>Role</h4>#}
                {#                        </div>#}
                {#                        <div class="col">#}
                {#                            <h4>Grader</h4>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="row course-table-data">#}
                {#                        <div class="col border border-secondary">#}
                {#                            <h6>Jayson</h6>#}
                {#                        </div>#}
                {#                        <div class="col border border-secondary">#}
                {#                            <h6>Instructor</h6>#}
                {#                        </div>#}
                {#                        <div class="col border border-secondary">#}
                {#                            <h6>True</h6>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

                {#                <div class="container border border-secondary rounded">#}
                {##}
                {#                    <div class="row header-row">#}
                {#                        <div class="col" style="text-align:center">#}
                {#                            <div style="float:left; width:80%">#}
                {#                                <h5>Sections</h5>#}
                {#                            </div>#}
                {#                            <div style="float:right">#}
                {#                                <button type="submit" class="btn btn-warning" name="register_section"#}
                {#                                        value={{ course.courseid }} style="font-size=16px">Add Section#}
                {#                                </button>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="row header-row">#}
                {#                        <div class="col">#}
                {#                            <h4>ID</h4>#}
                {#                        </div>#}
                {#                        <div class="col">#}
                {#                            <h4>Type</h4>#}
                {#                        </div>#}
                {#                        <div class="col">#}
                {#                            <h4>Schedule</h4>#}
                {#                        </div>#}
                {#                        <div class="col">#}
                {#                            <h4>Staff</h4>#}
                {#                        </div>#}
                {#                        <div class="col"></div>#}
                {#                    </div>#}
                {#                    {% for section in sections %}#}
                {#                        <div class="row course-table-data">#}
                {#                            <div class="col border border-secondary">#}
                {#                                <h6>{{ section.sectionid }}</h6>#}
                {#                            </div>#}
                {#                            <div class="col border border-secondary">#}
                {#                                <h6>{{ section.type }}</h6>#}
                {#                            </div>#}
                {#                            <div class="col border border-secondary">#}
                {#                                <h6>{{ section.schedule }}</h6>#}
                {#                            </div>#}
                {#                            <div class="col border border-secondary">#}
                {#                                <h6>{{ section.TA_assigned }}</h6>#}
                {#                            </div>#}
                {#                            <div class="col border border-secondary text-center">#}
                {#                                <button type="button" class="btn btn-danger" style="font-size: 16px">#}
                {#                                    Delete#}
                {#                                </button>#}
                {#                                <button class="btn btn-warning" type="submit" name="Assign_TA_to_Section"#}
                {#                                        value="Assign_TA_to_Section" style="font-size: 16px">#}
                {#                                    Assign#}
                {#                                </button>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    {% endfor %}#}
                {#                </div>#}


            </div>
        {% endfor %}
        <!-- container end -->

        {#                        <table class="table">#}
        {#                            <thead class="table table-dark ">#}
        {#                            <tr>#}
        {#                                <th scope="col"><h5>Course ID</h5></th>#}
        {#                                <th scope="col"><h5>Course Name</h5></th>#}
        {#                                <th scope="col"><h5>Course Credits</h5></th>#}
        {#                                <th scope="col"></th>#}
        {#                            </tr>#}
        {#                            </thead>#}
        {#                            <tbody>#}
        {#                            {% for course, sections in dictionary.items %}#}
        {#                                <tr>#}
        {#                                    <td><h3>{{ course.courseid }}</h3></td>#}
        {#                                    <td><h3>{{ course.coursename }}</h3></td>#}
        {#                                    <td><h3>{{ course.coursecredits }}</h3></td>#}
        {#                                    <td>#}
        {#                                        <button type="submit" class="btn btn-danger" name="delete_course"#}
        {#                                                value={{ course.courseid }}>Delete#}
        {#                                        </button>#}
        {#                                        <div>#}
        {#                                            <button type="button" class="btn btn-secondary btn-sm" name="edit_course"#}
        {#                                                    value={{ course.courseid }}>Edit#}
        {#                                            </button>#}
        {#                                        </div>#}
        {##}
        {#                                        <button type="submit" class="btn btn-warning" name="add_section"#}
        {#                                                value={{ course.courseid }}>Add Section#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                    {% for section in sections %}#}
        {#                                        <tr>#}
        {#                                            <td><h4>#}
        {#                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ section.sectionid }}</h4>#}
        {#                                            </td>#}
        {#                                            <td><h4>#}
        {#                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ section.type }}</h4>#}
        {#                                            </td>#}
        {#                                            <td><h4>#}
        {#                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ section.schedule }}</h4>#}
        {#                                            </td>#}
        {#                                            <td></td>#}
        {##}
        {#                                            <td>#}
        {#                                                <button type="submit2" class="btn btn-danger" name="delete_section"#}
        {#                                                        value={{ sections.sectionid }}>Delete#}
        {#                                                </button>#}
        {#                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
        {#                                            </td>#}
        {#                                            <div>#}
        {#                                            <button type="button" class="btn btn-secondary btn-sm" name="edit_lab"#}
        {#                                                    value={{ lab.labid }}>Edit#}
        {#                                            </button>#}
        {#                                            </div>#}
        {#                                        </tr>#}
        {#                                    {% endfor %}#}
        {#                                </tr>#}
        {#                            {% endfor %}#}
        {#                            </tbody>#}
        {#                        </table>#}

    </form>

{% endblock %}