{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block header %}
    <form action="/editAccount/" method="post">
        {% csrf_token %}
        <div class="group-row">
            <div class="form" style="display: inline">
                <h1>Edit Account</h1>
            </div>
        </div>
    </form>
{% endblock %}


{% block middle_section %}
    <form method="post">
        {% csrf_token %}
        <div class="center">
            <img src="/static/images/logo1.svg">
            <div align="center">
                <div class="content">
                    <table class="table1" cellspacing="50">
                        <h2 name="username">{{ user.username }}</h2>
                        <tr>
                            <td>
                                <h3>Name:</h3>
                                <input name="name" class="form-control" type="text"
                                       value="{{ user.name }}">
                            </td>
                            <td>
                                <h3>Password:</h3>
                                    <input type="password" name="password" class="form-control" value="{{ user.password }}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Phone Number:</h3>
                                <input name="phone" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                       value="{{ user.phone }}">
                            </td>
                            <td>
                                <h3>Office Number:</h3>
                                <input name="officenumber" class="form-control"
                                       value="{{ user.officenumber }}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Office Hours Start Time:</h3>
                                <input name="officehoursStart" type="time" class="form-control"
                                       value="{{ officeStart }}">
                                <!-- Placeholder values not working -->
                            </td>
                            <td>
                                <h3>Office Hours End Time:</h3>
                                <input name="officehoursEnd" type="time" class="form-control"
                                       value="{{ officeEnd }}">
                                <!-- Placeholder values not working -->
                            </td>
                        </tr>
                    </table>

                    <h3>Office Hours Days:</h3><br>
                        {% for i in days %}
                            {% if i.1 == True %}
                                <input type="checkbox" multiple name="selectedDays" checked value={{ i.0 }}>
                                {{ i.0 }}
                            {% else %}
                                <input type="checkbox" multiple name="selectedDays" value={{ i.0 }}>
                                {{ i.0 }}
                            {% endif %}
                        {% endfor %}

                    <br><h3>Address:</h3><br>
                    <textarea name="address" rows="1" cols="50">{{ user.address }}</textarea>


                    <br><h3>Skills:</h3><br>
                    <textarea name="skills" rows="5" cols="50">{{ user.skills }}</textarea>
                </div>
                <br>
                <div style="align-content: flex-end">
                    <button class="btn btn-warning" type="submit" name="update_account"
                            value={{ user.username }}>Update
                    </button>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
