{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block header %}
    <form method="post">
    {% csrf_token %}
    <div class="group-row">
        <div class="form" style="display: inline">
            <h1>Edit Account</h1>
        </div>
        <div class="left" style="display: inline" style="align-content: flex-end">
        <button class="btn btn-warning" calue="Submit" type="submit" name="edit_account"
                value={{ user.username }}>Update
        </button>
        </div>
    </div>
{% endblock %}


{% block middle_section %}
    <form method="post">
        {% csrf_token %}
        <div class="center">
            <img src="/static/images/logo1.svg">
            <div class="content">
                <ul>
                    <li><h3>Name:</h3>
                        <input name="name" class="form-control"
                               value={{ user.name }}>
                    </li>
                    <li><h3>Password:</h3>
                        <input name="password" class="form-control"
                               value={{ user.password }}>
                    </li>
                    <li><h3>Email:</h3>
                        <input name="email" class="form-control" type="email"
                               value={{ user.email }}>
                    </li>
                    <li><h3>Address:</h3>
                        <input name="address" class="form-control"
                               value={{ user.address }}>
                    </li>
                    <li><h3>Phone Number:</h3>
                        <input name="phone" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                               value={{ user.phone }}>
                    </li>
                    <li><h3>Office hours:</h3>
                        <input name="officehours" class="form-control"
                               value={{ user.officehours }}>
                    </li>
                    {% if user.role == "Supervisor" %}
                        <li><h3>Role:</h3>
                            <input name="role" class="form-control"
                                   aria-describedby="emailHelp" value={{ user.role }}>
                        </li>
                    {% endif %}
                    {% if user.role == "TA" %}
                        <li><h3>Skills:</h3>
                            <input name="skills" class="form-control"
                                   value={{ user.skills }}>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </form>
{% endblock %}