{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block header %}
    <form action="/editAccount/" method="post">
    {% csrf_token %}
    <div class="group-row">
        <div class="form" style="display: inline">
            <h1>Edit Account</h1>
        </div>
    </div>
{% endblock %}


{% block middle_section %}
    <form method="post">
        {% csrf_token %}
        <div class="center">
            <img src="/static/images/logo1.svg">
            <div align="center">
                <div class="content">
                    <table class="table1" cellspacing="50">
                        <type name="username" value{{ user.username }}></type>
                        <tr>
                            <td>
                                <h3>Name:</h3>
                                <input name="name" class="form-control" type="text"
                                       required value={{ user.name }}>
                            </td>
                            <td>
                                <h3>Password:</h3>
                                <input name="password" class="form-control" type="password"
                                       required value={{ user.password }}>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Address:</h3>
                                <input name="address" class="form-control" type="text"
                                       value={{ user.address }}>
                            </td>
                            <td>
                                <h3>Phone Number:</h3>
                                <input name="phone" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                       value={{ user.phone }}>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Office Number:</h3>
                                <input name="officenumber" class="form-control"
                                       value={{ user.officenumber }}>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Office Hours Start Time:</h3>
                                <input name="officehoursStart" type="time" class="form-control"
                                       required value={{ user.officehoursStart }}>
                                <!-- Placeholder values not working -->
                            </td>
                            <td>
                                <h3>Office Hours End Time:</h3>
                                <input name="officehoursEnd" type="time" class="form-control"
                                       required value={{ user.officehoursEnd }}>
                                <!-- Placeholder values not working -->
                            </td>
                            <td>
                                <h3>Office Hours Days:</h3>
                                <div class="form-control">
                                    {% for i in days %}
                                        {% if i.1 == True %}
                                            <input type="checkbox" multiple name="selectedDays" checked value={{ i.0 }}>{{ i.0 }}<br>
                                        {% else %}
                                            <input type="checkbox" multiple name="selectedDays" value={{ i.0 }}>{{ i.0 }}<br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Skills:</h3>
                                <input name="skills" class="form-control" type="text"
                                       value={{ user.skills }}>
                            </td>
                        </tr>
                    </table>
                </div>
                {#                <div><h3>Skills</h3></div>#}
                {#                <textarea name="skills" rows="5" cols="50" placeholder="Please enter a list of skills"#}
                {#                          value={{ user.skills }}></textarea>#}
                <br>
                <div style="align-content: flex-end">
                    <button class="btn btn-warning" type="submit" name="update_account"
                            value={{ user.username }}>Update
                    </button>
                </div>

            </div>
        </div>
    </form>
{% endblock %}