{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register_courses.css' %}">
{% endblock %}

{% block header %}
    <h1>Register Course</h1>

{% endblock %}

{% block middle_section %}
    <div class="form-pop" id="c_form" align="center">
        <form class="course" method="post">
            {% csrf_token %}
            <table class="table1" cellspacing="50">
                <img width="200" align="center" src="/static/images/book.png">
                <h3>Register Course</h3>
                <tr>
                    <td>
                        <div><label for="cor_name">*Course Name</label></div>
                        <div><input type="text" id="cor_name" name="cor_name" placeholder="Software Engineering"
                                    required></div>
                    </td>
                    <td>
                        <div><label for="cor_cred" style="text-align:center">*Course Credits</label></div>
                        <div><input align="center" type="number" id="cor_cred" name="cor_cred" placeholder="3"
                                    required><br></div>
                    </td>
                </tr>
                <tr>
                    <div><label for="cor_id">*Course ID</label></div>
                    <div><input type="number" name="cor_id" placeholder="361"
                                required></div>
                </tr>

            </table>
            <div align="center">
                <button class="btn btn-warning" type="submit" value="Submit">Add Course
                </button>
            </div>
            {% if message is not None %}
                <div class="error">
                {% if message is not None %}
                    <strong>{{ message }}</strong>
                {% endif %}
            {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

