{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register_section.css' %}">
{% endblock %}

{% block header %}
    <h1>Register Section</h1>
{% endblock %}


{% block middle_section %}
    <div align="center">
        <form method="post" id="form1">
            {% csrf_token %}
            <table class="table1" cellspacing="50">
                <img height="auto" width="300" height="300" align="center"
                     src="/static/images/create_lab.jpg">
                <h3>Register Section</h3>
                <tr>
                    <td>
                        <label>*Section ID</label>
                        <div><input name="section_sectionid"  type="text" placeholder="Section ID" required/></div>

                        <div><label>Schedule</label></div>
                        <div><input name="section_schedule" type="text" placeholder="TR @ 10:00am-11:00am" {# This will be changed to some sort of a date time object #}
                                                                                                           {#  for the days of the week that the lab meets, the start time, and the end time#}
                                    required/></div><br></td>
                </tr>
                <tr>
                        <select name="type" required>
                        {% for i in types %}
                            <option value={{ i.0 }}>{{ i.0 }}</option>
                        {% endfor %}</select>
                </tr>
            </table>
            <div align="center">
                <button class="btn btn-warning" type="submit" value="Submit">Add Section</button>
            </div>
            {% if message is not None %}
                <strong>{{ message }}</strong>
            {% endif %}
        </form>
    </div>
{% endblock %}

