{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register_account.css' %}">
{% endblock %}
{% block header %}
    <h1> Register Account</h1>
{% endblock %}


{% block middle_section %}
    <div align="center">
        <form method="post">
            {% csrf_token %}
            <table class="table1" cellspacing="50">
                <img height="75" width="75" align="center" src="/static/images/create_account.png">
                <div class="legend" align="center">
                    <legend>Register Account</legend>
                </div>

                <tr>
                    <td>
                        <label>*Username</label>
                        <div><input name="username" type="text" placeholder="johndoe36"
                                    required/>
                        </div>
                        <br>
                    </td>

                    <td>
                        <div><label>*Password</label></div>
                        <div><input name="password" type="password" placeholder="password123"
                                    required/><br></div>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>*Name</label>
                        <div><input name="name" type="text" placeholder="John Doe" required/></div>
                        <br>
                    </td>
                    <td>
                        <div><label>*Email</label></div>
                        <div><input name="email" type="email" placeholder="doej@uwm.edu" required/></div>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><label>Phone Number</label></div>
                        <div><input name="phone" type="tel" placeholder="123-456-7890"
                                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
                        </div>
                        <br>
                    </td>
                    <td>
                        <div><label>Office Number</label></div>
                        <div><input name="officenumber" type="text" placeholder="S217"/>
                        </div>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><label>*Office Hours Start Time</label></div>
                        <div><input name="officehoursStart" type="time" required/></div>
                    </td>
                    <td>
                        <div><label>*Office Hours End Time</label></div>
                        <div><input name="officehoursEnd" type="time" required/></div>
                    </td>
                </tr>

            </table>
            <br>
            <div><label>*Office Hours Days</label></div>
            <div>
                {% for i in days %}

                    <input type="checkbox" multiple name="selectedDays" value={{ i.0 }}>  {{ i.0 }}

                {% endfor %}
            </div>


            <div><label>*Role</label></div>
            <div><select name="role" style="text-align:center" required>
                {% for i in roles %}
                    <option value={{ i.0 }}>{{ i.0 }}</option>
                {% endfor %}
            </select><br></div>


            <div><label>Address</label></div>
            <textarea name="address" rows="1" cols="50" placeholder="123 Main St Milwaukee, Wisconsin"/></textarea><br>

            <div><label>Skills</label></div>
            <textarea name="skills" rows="5" cols="50" placeholder="Please enter a list of skills"></textarea>


            <div align="center">
                <button class="btn btn-warning" type="submit" value="Submit">Add Account
                </button>
            </div>
            <div class="message">
                {% if message is not None %}
                    {{ message }}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

