{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register_section.css' %}">
{% endblock %}

{% block header %}
    <h1>Register Section</h1>
{% endblock %}


{% block middle_section %}
    <div align="center">
        <form method="post" id="form1">
            {% csrf_token %}
            <table class="table1" cellspacing="50">
                <img height="auto" width="300" height="300" align="center"
                     src="/static/images/create_lab.jpg">
                <h3>Register Section</h3>
                <tr>
                    <td>
                        <label>*Section ID</label>
                        <div><input name="section_sectionid" type="text" placeholder="201" required/></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><label>Schedule Start Time</label></div>
                        <div><input name="scheduleStart" type="time" required/></div>
                    </td>
                    <td>
                        <div><label>Schedule End Time</label></div>
                        <div><input name="scheduleEnd" type="time" required/></div>
                    </td>
                    <td>
                        <div><label>Schedule Days</label></div>
                        <div>
                            {% for i in days %}
                                <input type="checkbox" multiple name="selectedDays" value={{ i.0 }}>{{ i.0 }}<br>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
            <select align="center" name="type" required>
                {% for i in types %}
                    <option value={{ i.0 }}>{{ i.0 }}</option>
                {% endfor %}</select>
            <div align="center">
                <button class="btn btn-warning" type="submit" value="Submit">Add Section</button>
            </div>
            {% if message is not None %}
                <strong>{{ message }}</strong>
            {% endif %}
        </form>
    </div>
{% endblock %}

