{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sup Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sup_accounts.css' %}"/>
</head>
<body>
<div id="wrapper">
    <!-- side bar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="/SupHome/">
                <img src="/static/images/uwm.svg" class="img-fluid">
            </a></li>
            <li><a href="/Account/">Account</a></li>
            <li><a href="/SupAccounts/">Accounts</a></li>
            <li><a href="/SupCourses/">Courses </a></li>
            <!-- <li><a href="SupEmail">Email </a></li> -->
            <li><b href="#" class="btn" id="menu-toggle"> -></b></li>
        </ul>
    </div>
</div>

<!--- page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="form-container">
                    <form action="/SupAccounts/" method="post">
                        {% csrf_token %}
                        <h1>Create an Account</h1><br>
                        <div class="input-fields">
                            Username:
                            <input name="username" type="text" placeholder="username"required/><br><br>
                            Password:
                            <input name="password" type="password" placeholder="password" required/><br><br>
                            Email:
                            <input name="email" type="email" placeholder="email" required/><br><br>
                            Role:
                            <select name="role" required>
                                {% for i in roles %}
                                    <option value={{ i.0 }}>{{ i.0 }}</option>
                                {% endfor %}
                            </select><br><br>
                            <!-- Not required -->
                            Phone Number:
                            <input name="phone" type="tel" placeholder="1-(234)-567-8910" pattern="[0-9]{1}-([0-9]{3})-[0-9]{3}-[0-9]{4}"/><br><br>
                            Address:
                            <input name="address" type="test" placeholder="address"/><br><br>
                            Office Hours:
                            <input name="officehours" type="test" placeholder="office hours"/><br><br>
                            <input type="submit"/>
                        </div>
                    </form>
                    {{ message }}
                </div>

            </div>
        </div>
    </div>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("menuDisplayed");
    })
</script>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>